Repository Project-MO-A/Backend, pull requests merged in 2023-03, with the labels that each got.

#15 Feat jhs 13
  .gitignore
  src/docs/asciidoc/index.adoc
  src/main/java/com/moa/dto/user/UserSignupRequest.java
  src/main/java/com/moa/global/config/SecurityConfig.java
  src/main/java/com/moa/global/exception/GlobalControllerAdvice.java
  src/main/java/com/moa/service/UserService.java
  src/test/java/com/moa/base/AbstractControllerTest.java
  src/test/java/com/moa/controller/UserControllerTest.java
  src/test/java/com/moa/global/filter/LoginProcessFilterTest.java
  src/test/resources/org/springframework/restdocs/templates/asciidoctor/request-fields.snippet
  src/test/resources/org/springframework/restdocs/templates/asciidoctor/request-headers.snippet
Labels: Test

#31 [feat] Alarm 엔티티 매핑, 등록 구현
  src/main/java/com/moa/controller/RecruitController.java
  src/main/java/com/moa/controller/RecruitmentController.java
  src/main/java/com/moa/domain/base/BaseTimeEntity.java
  src/main/java/com/moa/domain/member/RecruitMember.java
  src/main/java/com/moa/domain/recruit/category/RecruitCategory.java
  src/main/java/com/moa/domain/user/Alarm.java
  src/main/java/com/moa/domain/user/AlarmRepository.java
  src/main/java/com/moa/domain/user/AlarmType.java
  src/main/java/com/moa/domain/user/User.java
  src/main/java/com/moa/dto/recruit/RecruitPostRequest.java
  src/main/java/com/moa/dto/recruit/RecruitUpdateRequest.java
  src/main/java/com/moa/dto/user/UserInfoResponse.java
  src/main/java/com/moa/global/config/JPAConfiguration.java
  src/main/java/com/moa/service/AlarmService.java
  src/main/java/com/moa/service/RecruitmentService.java
  src/test/java/com/moa/domain/user/AlarmTypeTest.java
  src/test/java/com/moa/service/AlarmServiceTest.java
  src/test/java/com/moa/service/RecruitmentServiceTest.java
Labels: feat

#45 feat: 이메일 중복체크 API 추가
  src/main/java/com/moa/controller/UserController.java
  src/main/java/com/moa/dto/user/EmailDuplicateRequest.java
  src/main/java/com/moa/service/UserService.java
  src/test/java/com/moa/service/UserServiceTest.java
Labels: feat

#43 [feat] 사용자 정보 보기 쿼리 분리
  src/main/java/com/moa/controller/UserController.java
  src/main/java/com/moa/domain/interests/RecruitmentInterest.java
  src/main/java/com/moa/domain/member/ApplimentMemberRepository.java
  src/main/java/com/moa/domain/recruit/RecruitStatus.java
  src/main/java/com/moa/domain/recruit/RecruitmentRepository.java
  src/main/java/com/moa/domain/user/User.java
  src/main/java/com/moa/domain/user/UserRepository.java
  src/main/java/com/moa/dto/recruit/RecruitmentsInfo.java
  src/main/java/com/moa/dto/user/UserActivityInfo.java
  src/main/java/com/moa/dto/user/UserInfo.java
  src/main/java/com/moa/dto/user/UserInfoResponse.java
  src/main/java/com/moa/dto/user/UserRecruitmentInterestInfo.java
  src/main/java/com/moa/service/UserService.java
  src/test/java/com/moa/base/AbstractServiceTest.java
  src/test/java/com/moa/constant/TestConst.java
  src/test/java/com/moa/service/UserServiceTest.java
  src/test/java/com/moa/service/UserServiceUnitTest.java
Labels: Test, feat

#42 feat: 공지사항 관련 기능 구현
  src/main/java/com/moa/controller/NoticeController.java
  src/main/java/com/moa/domain/member/ApplimentMember.java
  src/main/java/com/moa/domain/member/AttendMember.java
  src/main/java/com/moa/domain/member/AttendMemberRepository.java
  src/main/java/com/moa/domain/member/AttendMemberRepositoryCustom.java
  src/main/java/com/moa/domain/member/AttendMemberRepositoryImpl.java
  src/main/java/com/moa/domain/member/Attendance.java
  src/main/java/com/moa/domain/member/RecruitMember.java
  src/main/java/com/moa/domain/notice/Notice.java
  src/main/java/com/moa/domain/notice/NoticeRepository.java
  src/main/java/com/moa/dto/IdResponse.java
  src/main/java/com/moa/dto/notice/NoticesResponse.java
  src/main/java/com/moa/dto/notice/PostNoticeRequest.java
  src/main/java/com/moa/dto/notice/UpdateNoticeRequest.java
  src/main/java/com/moa/dto/notice/VoteAttendanceRequest.java
  src/main/java/com/moa/global/exception/ErrorCode.java
  src/main/java/com/moa/global/exception/service/AssociationMisMatchException.java
  src/main/java/com/moa/service/AttendMemberService.java
  src/main/java/com/moa/service/NoticeService.java
  src/main/java/com/moa/service/RecruitmentService.java
  src/main/resources/messages.properties
  src/test/java/com/moa/base/WithMockCustomUser.java
  src/test/java/com/moa/base/WithMockCustomUserSecurityContextFactory.java
  src/test/java/com/moa/controller/UserControllerTest.java
  src/test/java/com/moa/service/NoticeServiceTest.java
  src/test/java/com/moa/service/RecruitmentServiceTest.java
Labels: Test, feat, Entity

#49 test: 그라함 알고리즘 테스팅 구현
  src/main/java/com/moa/service/graham/GrahamAlgo.java
  src/test/java/com/moa/algo/GrahamAlgorithm.java
Labels: Test

#57 fix: 오류 수정 및 일부 응답 객체 필드 변경
  build.gradle
  src/main/java/com/moa/controller/AdminController.java
  src/main/java/com/moa/controller/PossibleTimeController.java
  src/main/java/com/moa/domain/member/AdminRepository.java
  src/main/java/com/moa/dto/member/ApprovedMemberResponse.java
  src/main/java/com/moa/service/PossibleTimeService.java
  src/test/java/com/moa/service/AdminServiceTest.java
Labels: invalid
